body { 
    padding-top: 70px;  
}

 
 #container img {
    max-height: 150px;

 }

.wordcard:hover {
    background: #f7f7f7;
   border: 1px solid #d0d0d0;
}

.time {
    color: black;
    position: relative;
    display: inline-block;
    padding: 4px;
}
.time .timeText {
    visibility: hidden;
    font-size: small;
    width: 90%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 30%;
    margin-left: -60px;
}
.time .timeText::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
.time:hover{
    color: black;
    background-color: #E8E8E8;
}
.time:hover .timeText {
    visibility: visible;
}

/* 
.userDIVhide {
    font-size: 12px;
    width: 300px;
    display: none;
    padding-left: 20px;
    border-color: #CCCCCC;
    border-width: 1px;
    border-style: solid;
    
    
}


.userDIV:hover+.userDIVhide {
    padding: 10px;
    padding-left: 20px;
    display: block;
    /* color: rgba(0, 128, 0, 0.699); 
}

.hUserbelow {
    left: 12px;
    z-index: 1;
    position: absolute;
    top: 25px;
    background-color: none;
    padding: 10px;
    color: rgba(0, 0, 0, 0.726);
    
} */

