{% load mathfilters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Leaderboard for the quiz section</title>
	<link rel="stylesheet" href="{% static '/css/leaderboard.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="lboard_section">
            <div class="lboard_tabs">
                <div class="tabs">
                    <ul>
                        <li data-li="today">Correct</li>
                        <li class="active" data-li="month">Total</li>
                        <li data-li="year">Percentage</li>
                    </ul>
                </div>
            </div>

            <div class="lboard_wrap">
                <div class="lboard_item today" style="display: none;">
                    {% for player in players %}
                    <div class="lboard_mem">
                        <div class="img">
                            <!-- I'm sorry to the person that has to read this line--> 
                            <img src=  {% cycle "https://i.ibb.co/3c1Vqgn/pic-1.png" "https://i.ibb.co/RDRKkTQ/pic-2.png" "https://i.ibb.co/4VMWJpJ/pic-3.png" "https://i.ibb.co/dBGQ1Zf/pic-4.png" "https://i.ibb.co/sRyPLZT/pic-5.png"%} alt="pic">
                        </div>
                        <div class="name_bar">
                            <p><span>{% cycle '1.' '2.' '3.' '4.' '5.'%}</span> {{player.username}}</p>
                            <div class="bar_wrap">
                                {%if max%}
                                    <!-- What I did below should never ever be done but hey it works-->
                                    {% with numerator=player.correct denominator=correct_max %}
                                    <div class="inner_bar" style="width:{{ numerator|div:denominator }}%"></div>
                                    {% endwith %}
                                {% else %}
                                <div class="inner_bar" style="width:0%"></div>
                                {% endif %}
                            </div>
                            
                        </div>
                        <div class="points">
                            {{player.correct}}<span> points</span>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                
                <div class="lboard_item month" style="display: block;">
                    {% for player in players %}
                    <div class="lboard_mem">
                        <div class="img">
                            <!-- I'm sorry to the person that has to read this line--> 
                            <img src=  {% cycle "https://i.ibb.co/3c1Vqgn/pic-1.png" "https://i.ibb.co/RDRKkTQ/pic-2.png" "https://i.ibb.co/4VMWJpJ/pic-3.png" "https://i.ibb.co/dBGQ1Zf/pic-4.png" "https://i.ibb.co/sRyPLZT/pic-5.png"%} alt="pic">
                        </div>
                        <div class="name_bar">
                            <p><span>{% cycle '1.' '2.' '3.' '4.' '5.'%}</span> {{player.username}}</p>
                            <div class="bar_wrap">
                                {%if max%}
                                    {% with numerator=player.total denominator=max %}
                                    <div class="inner_bar" style="width:{{ numerator|div:denominator }}%"></div>
                                    {% endwith %}
                                {% else %}
                                <div class="inner_bar" style="width:0%"></div>
                                {% endif %}
                            </div>
                            
                        </div>
                        <div class="points">
                            {{player.total}}<span> points</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="lboard_item year" style="display: none;">
                    {% for winrate in winrates %}
                    <div class="lboard_mem">
                        <div class="img">
                            <!-- I'm sorry to the person that has to read this line--> 
                            <img src=  {% cycle "https://i.ibb.co/3c1Vqgn/pic-1.png" "https://i.ibb.co/RDRKkTQ/pic-2.png" "https://i.ibb.co/4VMWJpJ/pic-3.png" "https://i.ibb.co/dBGQ1Zf/pic-4.png" "https://i.ibb.co/sRyPLZT/pic-5.png"%} alt="pic">
                        </div>
                        <div class="name_bar">
                            <p><span>{% cycle '1.' '2.' '3.' '4.' '5.' %}</span> {{winrate.username}}</p>
                            <div class="bar_wrap">
                                {%if max_wr%}
                                    <!-- What I did below should never ever be done but hey it works-->
                                    {% with width=winrate.winrate1 %}
                                    <div class="inner_bar" style="width:{{ width|mul:100 }}%"></div>
                                    {% endwith %}
                                {% else %}
                                <div class="inner_bar" style="width:0%"></div>
                                {% endif %}
                            </div>
                            
                        </div>
                        <div class="points">
                            {% with answer=100 %}
                            {%if winrate.winrate1%}
                            {{answer|mul:winrate.winrate1|floatformat}}<span> %</span>
                            {% else %}
                            <span> 0%</span>
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/leaderboard.js' %}"></script> 
</body>
</html>