{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <title>Search history</title>
</head>

<body style="background-color:#DAE0E6;">
    <nav class="navbar navbar-dark bg-light fixed-top">
        <a class="navbar-brand" style="color: gray;" href="#">
            Japanese Words Search Application
        </a>
    </nav>
    <!-- <img src="https://images.unsplash.com/photo-1526336024174-e58f5cdd8e13?ixid=MnwyNDU4Njh8MHwxfHNlYXJjaHwxfHxjYXR8ZW58MHx8fHwxNjI1OTc1MTYy&ixlib=rb-1.2.1" alt="abc" width="100px" > -->
    <a class="btn btn-danger" href="{% url 'clear_search' %}" style="z-index:100;position:fixed ;left: 4%; bottom: 5%;">Reset</a>
    <div class="container" >
        <div class=" jumbotron text-center rounded"
            style="background-color:  #b2ffa3;color: #2c2b24b7;border: 2px solid rgba(217, 255, 47, 0.418) ; margin-bottom: 50px;">
            <h1 style="font-size: 45px; ">Search history</h1>
        </div>
        
        {% for word in words %} 
        <div class="card wordcard mt-1 mb-4">

            <h3 class="card-header" style="font-size: 50px;">
                <span class=> {{word.kanji}}  </span>
                <a href="https://jisho.org/search/{{word.kanji}}" target="popup" style="font-size: small;text-decoration: none; color: rgb(128, 128, 128);"
                    onclick="window.open('https://jisho.org/search/{{word.kanji}}','popup','width=600,height=600'); return false;">
                    View details
                </a>
                <span class="time"
                    style="font-size: small; position: absolute; right: 2%; top: 33px; color: rgba(0, 0, 0, 0.322);">
                    Searched {{word.search_time|naturaltime}} by {{word.search_by}}
                    <span class="timeText">{{word.search_time}} </span>
                </span>


            </h3>

            <div id="container" class="card-body">
                <img class="rounded float-right" src=" {{word.image_url}} " alt="{{word.english_meaning}}">
                <p><b> Meaning:</b> {{word.english_meaning}}</p>
                <p><b> Reading: </b>{{word.reading}}</p>
                <p><b> JLPT level: </b> {{word.level|upper}}</p>

            </div>


        </div>
        <!-- <p> {{word.kanji}} </p> -->
        {% endfor %}

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
        </script>
</body>
<script type="text/javascript">
    (function () {

        var img = document.getElementById('container').firstChild;
        img.onload = function () {
            if (img.height > img.width) {
                img.height = '100%';
                img.width = 'auto';
            }
        };

    }());
</script>

</html>